:root {
  --backgound-color: #3e3a36;
  --nav-background-color: #2b2825;
  --border-color: #8f2323;
  --border-width: 0.4vh;
  --button-hover: #252321;
}

@font-face {
    font-family: "SpaceMono";
    src: url("fonts/spacemono_regular.ttf") format("truetype");
}


body{
    overflow-y: hidden;
    position: relative;
    margin: 0;
    padding: 0;
    background-color: var(--backgound-color);
    border: solid var(--border-width) var(--border-color);
    display: flex;
    flex-direction: row;
    height: 99vh; /* For 100% screen height */

    font-family: "SpaceMono";
    color: var(--border-color);

}

.globalBakgroundBorder{
    border: solid var(--border-color) 4px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: var(--nav-background-color);
    color: var(--border-color);

    -webkit-box-shadow: 3px 3px 0px 0px var(--backgound-color), 10px 10px 0px 0px var(--border-color); 
    box-shadow: 3px 3px 0px 0px var(--backgound-color), 10px 10px 0px 0px var(--border-color);
}

/* NAVBAR */

.navbar{
    width: 5em;
    height: 100%;
    background-color: var(--nav-background-color);
    border-right: solid var(--border-width) var(--border-color);
    position: absolute;
}

.navbar .logo{
    width: 100%;
    height: 5em;
    border-bottom: solid var(--border-width) var(--border-color);
}

.navbar nav{
    margin-top: 24vh;
    margin-bottom: 25vh;
}

.navbar nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navbar nav ul li{
    display: flex;
    justify-content: center;
    align-items: center;

    border-top: solid var(--border-width) var(--border-color);

    height: 10vh;
}

.navbar nav ul li:last-child{
    border-bottom: solid var(--border-width) var(--border-color);
}

.navbar nav ul li img{
    width: 4.6vh;
    height: 4.6vh;
    transition: all 250ms ease-in-out;
}

.navbar nav ul li.active img{
    filter: invert(1);
}

.navbar nav ul li img:hover{
    cursor: pointer;
    filter: invert(1);
}

/* END NAVBARD */


/* CONTENT */

.content{
    width: 94.4vw;
}

.content section{
    margin: 5%;
}

/* HOME */

#home{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#home > div{

    display: flex;
    flex-direction: column;
    align-items: center;
}

#home > div .profilePicture{
    width: 60%;
    margin-bottom: 20%;
}

#home > div button{
    width: 50%;
    height: 3em;

    font-size: 1.2em;
}

#home > div button:hover{
    cursor: pointer;
    background-color: var(--button-hover);
    text-decoration: underline;
}

#home p{
    padding: 1em;
    margin-right: 10%;
    font-size: 1.5em;
}

/* PROFILE */

