@font-face {
    font-family: "SpaceMono";
    src: url("fonts/spacemono/spacemono_regular.ttf") format("truetype");
  }

html{
    scroll-behavior: smooth;
}

body{
    background-color:#252323;
    margin : auto;
    font-family: "SpaceMono";
}

/* Header Style */

header{
    background-color: white;
    margin-top: 20px;
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Menue Style */

@keyframes BgWhiteToBlack {
    from {
        background-color: white;
        color: black;
    }
    to {
        background-color: black;
        color: white;
    }
}

@keyframes BgBlackToWhite {
    from {
        background-color: black;
        color: white;
    }
    to {
        background-color: white;
        color: black;
    }
}

nav{
    position: sticky;
    top: 0px;
}

nav>ul{
    animation-name: BgWhiteToBlack;
    animation-duration: 1s;
    background-color: black;
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}


nav>ul li a{
    display: block;
    padding: 20px 30px 20px 30px;
    text-decoration: none;
    animation-name: BgWhiteToBlack;
    animation-duration: 1s;
    color: white;
}


nav>ul li a:hover{
    background-color: white;
    animation-name: BgBlackToWhite;
    animation-duration: 1s;
    background-color: white;
    color: black;
}

/* Top Btn */
.topBtn{
    position: fixed;
    background-color: white;
    width: 50px;
    height: 50px;
    right: 20px;
    bottom: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
}

.topBtn a{
    font-size: 2em;
    text-decoration: none;
}

.topBtn a:hover, .topBtn a:visited, .topBtn a:active, .topBtn a:link{
    color: black;
}

/* Content */

.container{
    
    background-color: #565454;
    border-radius: 2px;
    margin: 30px 10px 0px 10px;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    
}

.container a:visited{
    color: blue;
}

.container a:hover{
    color: darkblue;
}

h2{
    margin-top: 60px;
    margin-left: 10px;
    text-decoration: underline;
}

section{
    margin-left: 15px;
    padding: 30px;
    background-color: #7B7878;
    border-radius: 3px;
}

/* Présentation */
.presentation div:first-child{
    display: flex;
    margin-bottom: 25px;
}

.presentation img{
    width: 20%;
    height: 20%;
    border-radius: 10px;
}

.presentation img+p{
    margin-top: 100px;
    margin-left: 50px;
}

.presentation div:last-child{
    margin-left: 20%;
}

/* Etudes */

.etudes table{
    width: 100%;
}

.etudes table td{
    text-align: center;
}

/* Contact */
form section{
    display: flex;
    flex-direction: row;
}

fieldset{
    display: flex;
    flex-direction: column;
    margin: 0px 10px 0px 10px;
}

section+fieldset{
    width: 25%;
}

fieldset:last-child{
    width: 75%;
}

/* footer */
footer{
    height: 100px;
    padding-top: 20px;
    background-color: black;
    color: white;
    text-align: center;
}